extends ../layout

block content
  div(layout='column',latout-fill)
    md-toolbar
      .md-toolbar-tools
        | My latest dives
        span(flex)
        md-icon border_color
        md-button(
          ng-click="displayAll()"
          ng-class="!showLongest && !showDeepest ? 'md-accent md-hue-1' : ''"
        ) None
        md-button(
          ng-click="displayLongest()"
          ng-class="showLongest ? 'md-accent md-hue-1' : ''"
        ) Longest
        md-button(
          ng-click="displayDeepest()"
          ng-class="showDeepest ? 'md-accent md-hue-1' : ''"
        ) Deepest
    md-content(flex)
      div(layout='row',layout-wrap)
        div(flex=33,ng-repeat='dive in dives')
          .divecard(ng-class='{longest: showLongest && longest === $index, deepest: showDeepest && deepest === $index}')
            h1 {{dive.site}}
            h3: small {{dive.location}}
            h2 {{dive.depth}} feet | {{dive.time}} min
    md-toolbar
      .md-toolbar-tools Powered by Angular Material
