extends ../layout

block vars
  - var body_attrs = {'ng-controller': 'SimpleFormController'}
  - var messages = true
  - var script = '19.js'
  - var style = '19.css'
  - var title = "Datepicker"

block content
  md-toolbar.md-toolbar-tools
    h1 Datepicker
  md-content
    .md-body-1(layout-margin,layout-padding)
      | Please specify your last eligible dive to avoid an extra check dive!
      br
      | Your dive must not be older than 3 months.
    form(name='simple',novalidate,layout-margin)
      md-checkbox(ng-model='user.hasDive') I have an eligible dive
      div(layout='column',style='margin:0 0 24px 32px;',layout-margin)
        md-input-container(md-no-float)
          input(
            name='diveSite'
            ng-model='user.diveSite'
            ng-disabled='!user.hasDive'
            required
            placeholder="Dive Site"
            maxlength=32
          )
          div(
            ng-messages='simple.diveSite.$error'
            ng-show='simple.diveSite.$dirty'
          )
            div(ng-message='required') Please provide a dive site name!
        md-datepicker(
          name='diveDate'
          ng-disabled='!user.hasDive'
          ng-model='user.diveDate'
          required
          md-min-date='minDate'
          md-max-date='maxDate'
          style='margin-left: -16px;'
        )
        .validation-messages(
          ng-messages='simple.diveDate.$error'
          ng-show='simple.diveDate.$dirty'
        )
          div(ng-message='required') Please provide a date!
      md-button.md-raised.md-primary(
        ng-click="register(user)"
        ng-disabled="user.hasDive && simple.$invalid"
      ) Register
    md-divider
    div(layout-margin)
      code {{registeredUser|json}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'ngMessages', 'datepicker']
