extends ../layout

block vars
  - var body_attrs = {'ng-controller': 'SimpleFormController'}
  - var script = '09.js'
  - var style = '09.css'
  - var title = "Radio buttons with custom labels"

block content
  md-toolbar.md-toolbar-tools
    h1 Radio buttons with custom labels
  md-content
    form(name='simple',novalidate,layout-margin,layout-padding='')
      div(layout='column')
        .md-body-2 Dive type
        md-radio-group#type(ng-model='dive.type',ng-init='dive.type=0')
          md-radio-button(
            ng-repeat='type in diveTypes'
            aria-label='{{type.name}}'
            ng-value='type.id'
          )
            | {{type.name}}
            .explanation
              md-icon.material-icons.explanation-icon comment
              span.explanation-text Explanation for {{type.name}}
        md-divider
        .md-body-2 Altitude
        md-radio-group(ng-model='dive.altitudeType')
          md-radio-button(
            ng-repeat='alt in altitudeTypes'
            aria-label='{{alt.category}}'
            ng-value='alt.category'
          )
            | {{alt.category}}
            small.explanation-text &nbsp;({{alt.explain}})
      md-button.md-raised.md-primary(
        ng-click="register(dive)"
        ng-disabled='simple.$invalid'
      ) Register
    md-divider
    div(layout-margin)
      code {{diveInfo|json}}

append scripts
  script
    :coffee-script
      angular.module 'myApp', ['ngMaterial', 'radiobutton']
