extends ../layout

block content
  // Single column
  md-toolbar.md-toolbar-tools
    h1 Dive gear checklist
  md-content
    div(layout='column',layout-margin,ng-init='gear={}')
      md-checkbox(ng-model='gear.fins')
        | Fins
        small &nbsp;({{gear.fins}})
      md-checkbox.md-primary(
        ng-false-value="'no'"
        ng-true-value="'yes'"
        ng-model='gear.suit'
      )
        | Neoprene suit
        small &nbsp;({{gear.suit}})
      md-checkbox(
        ng-model='gear.bcd'
        ng-false-value='undefined'
        ng-true-value="'taken'"
      )
        | BCD jacket
        small &nbsp;({{gear.bcd}})
      md-checkbox(ng-model='gear.regulator')
        | Regulator
        small &nbsp;({{gear.regulator}})
      md-checkbox(
        ng-disabled="!gear.regulator"
        ng-model='gear.tank'
      )
        | Tank
        small &nbsp;({{gear.tank}})
      md-checkbox(ng-model='gear.weights')
        | Weights
        small &nbsp;({{gear.weights}})
    md-divider
    div(layout-margin)
      code {{gear|json}}
