extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Autocomplete
  md-content
    form(name='simple',novalidate,layout-margin)
      md-autocomplete(
        md-input-name='city'
        md-item-text='city.toString()'
        md-items='city in getMatchingCities(searchKey)'
        md-search-text='searchKey'
        md-selected-item='selectedCity'
        placeholder="Type a city"
        md-min-length=0
        md-floating-label="Destination"
        required
        md-input-maxlength=20
        md-select-on-match
      )
        md-item-template
          span(
            md-highlight-text='searchKey'
            md-highlight-flags='i'
          ) {{city.toString()}}
        div(ng-messages='simple.city.$error')
          div(ng-message='required') Please provide a city name
          div(ng-message='maxlength') City name is too long
        md-not-found No matching cities found for '{{searchKey}}'.
    md-divider
    div(layout-margin,layout-padding)
      p
        | Selected city:&#32;
        code {{selectedCity}}
      p
        | Control value:&#32;
        code {{simple.city.$modelValue}}
