extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Radio buttons
  md-content
    form(name='simple',novalidate,layout-margin)
      div(layout='column')
        .md-body-2 Dive type
        md-radio-group(ng-model='dive.type',ng-init='dive.type=0')
          md-radio-button(
            ng-repeat='type in diveTypes'
            aria-label='{{type.name}}'
            ng-value='type.id'
          ) {{type.name}}
        md-divider
        .md-body-2 Altitude
        md-radio-group(ng-model='dive.altitudeType')
          md-radio-button(
            ng-repeat='alt in altitudeTypes'
            aria-label='{{alt.category}}'
            ng-value='alt.category'
          ) {{alt.category}}
      md-button.md-raised.md-primary(
        ng-click="register(dive)"
        ng-disabled='simple.$invalid'
      ) Register
    md-divider
    div(layout-margin)
      code {{diveInfo|json}}
