extends ../layout

block content
  md-toolbar.md-toolbar-tools
    h1 Simple form
  md-content
    form(name='simple',novalidate,layout-margin)
      div(layout='column')
        md-input-container
          label Name
          input(
            name='name'
            ng-model='user.name'
            required
            maxlength=32
          )
        md-input-container
          label Email
          input(
            type='email'
            name='email'
            ng-model='user.email'
            required
            maxlength=64
          )
      md-button.md-raised.md-primary(
        ng-click="register(user)"
        ng-disabled='simple.$invalid'
      ) Register
    md-divider
    div(layout-margin)
      code {{registeredUser|json}}
