doctype html
html(lang='en')
  head
    title Simple form
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
  body(ng-app='myApp',layout='column',ng-controller='SimpleFormController')
    md-toolbar.md-toolbar-tools
      h1 Simple form
    md-content
      form(name='simple',novalidate,layout-margin)
        div(layout='column')
          md-input-container
            label Name
            input(
              name='name'
              ng-model='user.name'
              required
              maxlength=32
            )
          md-input-container
            label Email
            input(
              type='email'
              name='email'
              ng-model='user.email'
              required
              maxlength=64
            )
        md-button.md-raised.md-primary(
          ng-click="register(user)"
          ng-disabled='simple.$invalid'
        ) Register
      md-divider
      div(layout-margin)
        code {{registeredUser|json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'input', []
        .controller 'SimpleFormController', [
          '$scope'
          ($scope) ->
            $scope.registeredUser = {}
            $scope.register = (user) -> $scope.registeredUser = user
        ]
        angular.module 'myApp', ['ngMaterial', 'input']
