doctype html
html(lang='en')
  head
    title Simple form
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      .label-icon {
        color: #FF9800; /* Orange 500 */
      }
  body(ng-app='myApp',layout='column',ng-controller='SimpleFormController')
    md-toolbar.md-toolbar-tools
      h1 Simple form
    md-content
      form(name='simple',novalidate,layout-margin)
        div(layout='column')
          md-input-container(md-no-float)
            md-icon.material-icons.label-icon person
            input(
              name='name'
              ng-model='user.name'
              required
              md-maxlength=32
              placeholder="Type your name"
            )
            div(ng-messages='simple.name.$error',ng-show='simple.name.$dirty')
              div(ng-message='required') Please provide a name!
              div(ng-message='md-maxlength') This name is too long!
          md-input-container(md-no-float)
            md-icon.material-icons.label-icon email
            input(
              type='email'
              name='email'
              ng-model='user.email'
              required
              md-maxlength=64
              placeholder="Email"
            )
            div(ng-messages='simple.email.$error',ng-show='simple.email.$dirty')
              div(ng-message='required') Please provide an email!
              div(ng-message='email') Type in a valid email address!
        md-button.md-raised.md-primary(
          ng-click="register(user)"
          ng-disabled='simple.$invalid'
        ) Register
      md-divider
      div(layout-margin)
        code {{registeredUser|json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-messages/angular-messages.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'input', []
        .controller 'SimpleFormController', [
          '$scope'
          ($scope) ->
            $scope.registeredUser = {}
            $scope.register = (user) -> $scope.registeredUser = user
        ]
        angular.module 'myApp', ['ngMaterial', 'ngMessages', 'input']
