doctype html
html(lang='en')
  head
    title Using select
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body(ng-app='myApp',layout='column',ng-controller='SimpleFormController')
    md-toolbar.md-toolbar-tools
      h1 Select with async loading
    md-content
      form(name='simple',novalidate,layout-margin)
        div(layout='column')
          md-input-container
            label Dive type
            md-select(
              name='diveType'
              ng-model='dive.type'
              ng-init='dive.type=0'
              multiple
            )
              md-option(ng-repeat='type in diveTypes',ng-value='type.id')
                | &nbsp;{{type.name}} ({{type.id}})
          md-input-container
            label Altitude
            md-select(
              name='altitudeType'
              ng-model='dive.altitudeType'
              md-on-open='initAltitudeTypes()'
            )
              md-optgroup(
                ng-repeat='alt in altitudeTypes'
                label='{{alt.category}}'
              )
                md-option(ng-repeat='type in alt.levels') {{type.toString()}}
        md-button.md-raised.md-primary(
          ng-click="register(dive)"
          ng-disabled='simple.$invalid'
        ) Register
      md-divider
      div(layout-margin)
        code {{diveInfo|json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'select', []
        .controller 'SimpleFormController', [
          '$scope'
          '$q'
          ($scope, $q) ->
            $scope.diveInfo = {}
            $scope.diveTypes = [
              {id: 0, name: "Normal"}
              {id: 1, name: "Wreck dive"}
              {id: 2, name: "Night dive"}
              {id: 3, name: "Cave dive"}
              {id: 4, name: "Deep dive"}
            ]
            altitudes = [{
              category: "Low"
              levels: [
                "Sea level"
                "Under 300 feet"
                "300-600 feet"
              ]
            },{
              category: "High"
              levels: [
                "600-1200 feet"
                "1200-1800 feet"
                "1800-2400 feet"
              ]
            },{
              category: "Extreme"
              levels: [
                "2400-4800 feet"
                "Over 4800 feet"
              ]
            }]
            $scope.register = (diveInfo) -> $scope.diveInfo = diveInfo
            $scope.initAltitudeTypes = ->
              return if $scope.altitudeTypes
              deferred = $q.defer()
              setTimeout(
                ->
                  $scope.altitudeTypes = altitudes
                  deferred.resolve()
                , 2000
              )
              deferred.promise
        ]
        angular.module 'myApp', ['ngMaterial', 'select']
