doctype html
html(lang='en')
  head
    title Radio buttons with custom labels
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      md-radio-group#type md-radio-button .md-container {
        top: -10px;
      }

      .explanation {
        margin-top: 4px;
      }

      .explanation-text {
        font-size: 0.9em;
        color: #757575;   /* Grey 600 */
      }

      .explanation-icon {
        margin-right: 8px;
        color: #2196F3; /* Blue 500 */
      }

  body(ng-app='myApp',layout='column',ng-controller='SimpleFormController')
    // Single column
    md-toolbar.md-toolbar-tools
      h1 Radio buttons with custom labels
    md-content
      form(name='simple',novalidate,layout-margin,layout-padding='')
        div(layout='column')
          .md-body-2 Dive type
          md-radio-group#type(ng-model='dive.type',ng-init='dive.type=0')
            md-radio-button(
              ng-repeat='type in diveTypes'
              aria-label='{{type.name}}'
              ng-value='type.id'
            )
              | {{type.name}}
              .explanation
                md-icon.material-icons.explanation-icon comment
                .explanation-text Explanation for {{type.name}}
          md-divider
          .md-body-2 Altitude
          md-radio-group(ng-model='dive.altitudeType')
            md-radio-button(
              ng-repeat='alt in altitudeTypes'
              aria-label='{{alt.category}}'
              ng-value='alt.category'
            )
              | {{alt.category}}
              small.explanation-text &nbsp;({{alt.explain}})
        md-button.md-raised.md-primary(
          ng-click="register(dive)"
          ng-disabled='simple.$invalid'
        ) Register
      md-divider
      div(layout-margin)
        code {{diveInfo|json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'radiobutton', []
        .controller 'SimpleFormController', [
          '$scope'
          ($scope) ->
            $scope.diveInfo = {}
            $scope.diveTypes = [
              {id: 0, name: "Normal"}
              {id: 1, name: "Wreck dive"}
              {id: 2, name: "Night dive"}
              {id: 3, name: "Cave dive"}
              {id: 4, name: "Deep dive"}
            ]
            $scope.altitudeTypes = [{
              category: "Low"
              levels: [
                "Sea level"
                "Under 300 feet"
                "300-600 feet"
              ]
              explain: "Between sea level and 600 feet"
            },{
              category: "High"
              levels: [
                "600-1200 feet"
                "1200-1800 feet"
                "1800-2400 feet"
              ]
              explain: "Between 600 and 2400 feet"
            },{
              category: "Extreme"
              levels: [
                "2400-4800 feet"
                "Over 4800 feet"
              ]
              explain: "Above 2400 feet"
            }]
            $scope.register = (diveInfo) -> $scope.diveInfo = diveInfo
        ]
        angular.module 'myApp', ['ngMaterial', 'radiobutton']
