doctype html
html(lang='en')
  head
    title Autocomplete
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    style.
      .md-autocomplete-suggestions-container li .highlight {
        color: #D50000; /* Red A700 */
        font-weight: 500;
        background-color: #E0E0E0;  /* Grey 300 */
      }
  body(ng-app='myApp',layout='column',ng-controller='SimpleFormController')
    // Single column
    md-toolbar.md-toolbar-tools
      h1 Autocomplete
    md-content
      form(name='simple',novalidate,layout-margin)
        md-autocomplete(
          md-input-name='city'
          md-item-text='city.toString()'
          md-items='city in getMatchingCities(searchKey)'
          md-search-text='searchKey'
          md-selected-item='selectedCity'
          placeholder="Type a city"
          md-min-length=0
        )
          md-item-template
            span(
              md-highlight-text='searchKey'
              md-highlight-flags='i'
            ) {{city.toString()}}
          md-not-found No matching cities found for '{{searchKey}}'.
      md-divider
      div(layout-margin,layout-padding)
        p
          | Selected city:&#32;
          code {{selectedCity}}
        p
          | Control value:&#32;
          code {{simple.city.$modelValue}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'autocomplete', []
        .controller 'SimpleFormController', [
          '$scope',
          ($scope) ->
            cities = [
              "Budapest"
              "Brussels"
              "Prague"
              "Bratislava"
              "Warsaw"
              "Berlin"
              "Bucharest"
              "Beograd"
              "Ljubjana"
              "Rome"
              "Zurich"
              "Amsterdam"
              "Madrid"
              "Paris"
              "London"
              "Luxemburg"
              "Lisbon"
              "Athens"
              "La Valetta"
              "Istanbul"
              "Moscow"
              "Oslo"
              "Stockholm"
              "Helsinki"
              "Rejkjavik"
              "Copenhagen"
            ]
            $scope.cities = cities.sort()
            $scope.getMatchingCities = (searchKey) ->
              return $scope.cities unless searchKey
              $scope.cities.filter (item) ->
                key = searchKey.toLowerCase()
                item.toLowerCase().indexOf(key) >= 0
        ]
        angular.module 'myApp', ['ngMaterial', 'autocomplete']
