doctype html
html(lang='en')
  head
    title Simple form
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    style.
      .validation-messages {
        font-size: 11px;
        color: darkred;
        margin: 0 0 0 56px;
      }
  body(ng-app='myApp',layout='column')
    md-toolbar.md-toolbar-tools
      h1 $mdDateLocaleProvider
    md-content
      .md-body-1(layout-margin,layout-padding)
        | In this example, dates use Esperanto locale.
       md-datepicker(
         name='diveDate'
         ng-model='user.diveDate'
         required
       )
       .validation-messages(
         ng-messages='simple.diveDate.$error'
         ng-show='simple.diveDate.$dirty'
       )
         div(ng-message='required') Please provide a date!
      md-divider
      div(layout-margin,layout-padding)
        code {{user.diveDate | json}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-messages/angular-messages.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(src='moment.js')
    script
      :coffee-script
        angular.module 'datepicker', []
        .config ($mdDateLocaleProvider) ->
          $mdDateLocaleProvider.months = [
            "januaro"
            "februaro"
            "marto"
            "aprilo"
            "majo"
            "junio"
            "julio"
            "aŭgusto"
            "septembro"
            "oktobro"
            "novembro"
            "decembro"
          ]
          shortMonths = [
            "jan"
            "feb"
            "mar"
            "apr"
            "maj"
            "jun"
            "jul"
            "aŭg"
            "sep"
            "okt"
            "nov"
            "dec"
          ]
          $mdDateLocaleProvider.shortMonths = shortMonths
          $mdDateLocaleProvider.days = [
            "dimanĉo"
            "lundo"
            "mardo"
            "merkredo"
            "ĵaŭdo"
            "vendredo"
            "sabato"
          ]
          $mdDateLocaleProvider.shortDays = [
            "lu"
            "ma"
            "me"
            "ja"
            "ve"
            "sa"
            "di"
          ]

          $mdDateLocaleProvider.firstDayOfWeek = 1
          $mdDateLocaleProvider.parseDate = (dateString) ->
            m = moment(dateString, 'L', true)
            if m.isValid() then m.toDate() else new Date(NaN)

          $mdDateLocaleProvider.formatDate = (date) -> moment(date).format('L')
          $mdDateLocaleProvider.monthHeaderFormatter = (date) ->
            date.getFullYear() + " " + shortMonths[date.getMonth()]
          $mdDateLocaleProvider.weekNumberFormatter = (weekNumber) ->
            "semajno #{weekNumber}"
          $mdDateLocaleProvider.msgCalendar = "kalendaro"
          $mdDateLocaleProvider.msgOpenCalendar = "malferma kalendaro"

        angular.module 'myApp', ['ngMaterial', 'ngMessages', 'datepicker']
