doctype html
html(lang='en')
  head
    title Circular progress
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    style.
      .progress-cell {
        margin: auto;
      }
  body(ng-app='myApp',layout='column',ng-controller='ProgressController')
    md-toolbar.md-toolbar-tools
      h1 Progress ring
    md-content(flex)
      .md-body-2(layout='row',layout-padding) With determinate value
      div(layout='row',layout-padding,layout-align='center')
        md-progress-circular(ng-value='currentValue',md-mode='determinate')
        div(style='padding-left: 16px;')
          md-button.md-raised.md-primary(
            ng-click='start()'
            ng-disabled='isStarted'
          ) Start
          md-button.md-raised.md-primary(
            ng-click='stop()'
            ng-disabled='!isStarted'
          ) Stop
          md-button.md-raised.md-primary(
            ng-click='set(66)'
          ) Set to 66
      md-divider
      .md-body-2(layout='row',layout-padding) Indeterminate state
      div(layout='row',layout-align='space-around')
        div(layout='column',layout-padding)
          div Default mode
          .progress-cell(flex)
            md-progress-circular(md-mode='indeterminate')
        div(layout='column',layout-padding)
          div Accent color, hue-2
          .progress-cell(flex)
            md-progress-circular.md-accent.md-hue-2(md-mode='indeterminate')
        div(layout='column',layout-padding)
          div Primary color, size 72px
          .progress-cell(flex)
            md-progress-circular(
              md-mode='indeterminate'
              md-diameter=72
              style='height: 72px'
            )
        div(layout='column',layout-padding)
          div Warm color, size: 96px
          .progress-cell(flex)
            md-progress-circular.md-accent(
              md-mode='indeterminate'
              md-diameter='100%'
              style='height: 96px'
            )
      md-divider
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'progress', []
        .controller 'ProgressController', [
          '$scope'
          '$interval'
          ($scope, $interval) ->
            handler = null
            $scope.isStarted = false
            $scope.currentValue = 0

            $scope.start = ->
              handler = $interval(
                ->
                  $scope.currentValue += 2
                  $scope.currentValue = 0 if $scope.currentValue > 100
                ,
                100
              )
              $scope.isStarted = true

            $scope.stop = ->
              $interval.cancel handler if $scope.isStarted
              $scope.isStarted = false

            $scope.set = (value) ->
              $scope.stop()
              $scope.currentValue = value

            $scope.start()
        ]

        angular.module 'myApp', ['ngMaterial', 'progress']
