doctype html
html(lang='en')
  head
    title Chips with template
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      .md-chips .md-chip .md-chip-remove-container {
        position: absolute;
        right: 4px;
        top: 4px;
        margin-right: 0;
        height: 24px;
      }
      .md-chips .md-chip .md-chip-content {
        padding-right: 12px;
      }
      .md-chips .md-chip .md-chip-remove-container button.myChip {
        position: relative;
        height: 24px;
        width: 24px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: background 0.15s linear;
        display: block;
      }
      .md-chips .md-chip .md-chip-remove-container button.myChip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.75);
        color: white;
        fill: white;
      }
      .md-chips .md-chip .md-chip-remove-container button.myChip:hover,
      .md-chips .md-chip .md-chip-remove-container button.myChip:focus {
        background: rgba(192, 0, 0, 0.8);
      }
  body(ng-app='myApp',layout='column',ng-controller='ChipsController')
    md-toolbar.md-toolbar-tools
      h1 Chips with item templates
    md-content
      div(layout, layout-padding,layout-align='center center')
        div(flex,layout='column')
          md-chips(
            ng-model='fishList'
            placeholder="Add a fish"
            secondary-placeholder="Fish"
            md-on-append='newChip($chip)'
          )
            md-chip-template {{$chip.name}} (<em>{{$chip.size}}</em>)&nbsp;
            button.myChip(md-chip-remove): md-icon remove
          div: code {{fishList | json}}
      md-divider
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script
      :coffee-script
        angular.module 'chips', []
        .controller 'ChipsController', [
          '$scope'
          ($scope) ->
            $scope.fishList = [
              {name: "Triggerfish", size: "big"}
              {name: "Stingray",    size: "medium"}
              {name: "Potato cod",  size: "tiny"}
            ]
            $scope.newChip = (chip) ->
              name: chip
              size: '???'
        ]
        angular.module 'myApp', ['ngMaterial', 'chips']
