doctype html
html(lang='en')
  head
    title Header with Buttons
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description',content='')
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',href='/angular-material/angular-material.css')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.
      md-content {
        background-color: #EEEEEE;  /* Grey 200 */
      }

      md-card-content {
        background-color: #BBDEFB;  /* Blue 100 */
      }

      md-card-content.longest {
        background-color: #CE93D8;  /* Purple 200 */
      }

      md-card-content.deepest {
        background-color: #4DB6AC;  /* Teal 300 */
      }
  body(ng-app='myApp',layout='column',ng-controller='DiveLogController')
    div(layout='column',latout-fill)
      md-toolbar
        .md-toolbar-tools
          | My latest dives
          span(flex)
          md-icon border_color
          md-button(
            ng-click="displayAll()"
            ng-class="!showLongest && !showDeepest ? 'md-accent md-hue-1' : ''"
          ) None
          md-button(
            ng-click="displayLongest()"
            ng-class="showLongest ? 'md-accent md-hue-1' : ''"
          ) Longest
          md-button(
            ng-click="displayDeepest()"
            ng-class="showDeepest ? 'md-accent md-hue-1' : ''"
          ) Deepest
      md-content(layout='row',layout-wrap)
        div(flex=33,ng-repeat='dive in dives')
          md-card
            md-card-content(
              ng-class="{longest: showLongest && longest === $index, deepest: showDeepest && deepest === $index}"
            )
              h1 {{dive.depth}} feet | {{dive.time}} min
              h2 {{dive.site}}
              h3 {{dive.location}}
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-material/angular-material.js')
    script(type='text/javascript')
      :coffee-script
        angular
        .module 'dives', []
        .controller 'DiveLogController', [
          '$scope'
          ($scope) ->
            dives = [{
              site: "Abu Gotta Ramada"
              location: "Hurghada, Egypt"
              depth: 72
              time: 82
            },{
              site: "Ponte Mahoon"
              location: "MAehbourg, Mauritius"
              depth: 54
              time: 38
            },{
              site: "Molnar Cave"
              location: "Budapest, Hungary"
              depth: 98
              time: 62
            },{
              site: "Shark & Yolanda"
              location: "Ras Mohamed, Egypt"
              depth: 76
              time: 52
            }]
            longest = 0
            deepest = 0
            for dive, i in dives
              longest = i if dive.time > dives[longest].time
              deepest = i if dive.depth > dives[deepest].depth
            $scope.dives = dives
            $scope.longest = longest
            $scope.deepest = deepest

            $scope.displayAll = ->
              $scope.showLongest = false
              $scope.showDeepest = false

            $scope.displayLongest = ->
              $scope.showLongest = true
              $scope.showDeepest = false

            $scope.displayDeepest = ->
              $scope.showLongest = false
              $scope.showDeepest = true

            $scope.displayAll()
            true
        ]
        angular
        .module 'myApp', ['ngMaterial', 'dives']
        .config ($mdThemingProvider) ->
          $mdThemingProvider.theme 'default'
          .primaryPalette 'red'
          .accentPalette 'orange'
